@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,800;1,300&family=Montserrat:wght@400;500;600;700;800&display=swap');

:root {
    --brand: #dcb161;
    --dark: #000;
    --black: #707070;
    --white: #ffffff;
    --body-font: 'Montserrat', sans-serif;
}

html {
    overflow-x: hidden;
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    background: #fff;
    color: #141c2c;
    padding-right: 0 !important;
    font-size: 1.062rem;
    line-height: 1.7;
    text-rendering: optimizeLegibility;
}

.text-black {
    color: var(--black);
}

.z-index {
    position: relative;
    z-index: 99;
}

h1,
.h1 {
    font-size: 2.75rem;
    color: var(--dark);
    text-align: center;
}

h2,
.h2 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--dark);
}

h3,
.h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

h4,
.h4 {
    font-size: 1.25rem;
    color: #020202;
}

h5,
.h5 {
    font-size: 1.125rem;
    color: #242d4e;
    font-weight: 600;

}

/* .fw-semibold {
    font-weight: 600 !important;
}

.fw-medium {
    font-weight: 500 !important;
} */
.bg-primary { background-color: var(--brand) !important; }
.text-primary { color: var(--brand) !important; } 
.text-dark { color: var(--dark) !important; }

@media (max-width:1199px) {

    h1,
    .h1 {
        font-size: 2.25rem !important;
    }

    h2,
    .h2 {
        font-size: 1.875rem !important;
    }

    h3,
    .h3 {
        font-size: 1.45rem !important;
    }

    h4,
    .h4 {
        font-size: 1.125rem !important;
    }

    h5,
    .h5 {
        font-size: 1rem !important;
    }
}

@media (max-width:991px) {
    html { font-size: 92.5%; }
}

@media (max-width:576px) {
    html { font-size: 87.5%; }

    h1,
    .h1 {
        font-size: 2rem !important;
    }

    h2,
    .h2 {
        font-size: 1.35rem !important;
    }

    h3,
    .h3 {
        font-size: 1.25rem !important;
    }

    h4,
    .h4 {
        font-size: 1.125rem !important;
    }

    .btn {
        padding: 8px 18px;
    }

    .lead {
        font-size: 1.062rem;
    }
}

ul { padding-left: 0;margin-bottom: 0; }
ul li { list-style-type: none; }

.btn:focus, .form-control:focus { box-shadow: none; }
.btn {
    font-weight: 500;  
    justify-content: center;
    align-items: center;gap: .875rem;
    display: inline-flex;padding: .75rem 1.5rem;
    transition: all 0.4s ease-in-out;
} 
 
.btn-primary {
    background-color: var(--brand);border-color: var(--brand);color: var(--white) !important;border-width: 2px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: transparent;
    border-color: var(--brand);
    color: var(--brand) !important;
}
 

.btn-outline-primary {
    border-color: var(--brand);
    background-color: var(--brand);
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
    background-color: var(--brand);
    border-color: var(--brand);
    color: var(--white) !important;
}

.btn-outline-white {
    border-color: var(--white);
    color: var(--white); 
}

.btn-outline-white:hover,
.btn-outline-white:focus,
.btn-outline-white:active {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--brand) !important;
}

.btn-white {
    background-color: #fff;
    border-color: #fff;
    color: var(--dark);
}

.btn-white:hover,
.btn-white:focus {
    background-color: var(--dark);
    border-color: var(--dark);
    color: var(--white) !important;
}

.btn-white:hover svg,
.btn-white:focus svg {
    color: var(--white);
}

.link { color: var(--brand); }
.link:hover, .link:focus, .link:active { color: var(--dark);text-decoration: underline; }

.form-floating > .form-control-plaintext ~ label, .form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(:placeholder-shown) ~ label, .form-floating > .form-select ~ label {
    opacity: .65; transform: scale(.85) translateY(-.75rem) translateX(.15rem);
}
.brd-top-gold { border-top: 1px solid #dcb161; }
.z-0 { z-index: 0; }
.z-1 { z-index: 11; }
.object-fit-cover { object-fit: cover;object-position: center center; }
.ellipses-4 { 
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.ellipses-3 { 
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
}

@media (max-width:575px) {
    .container { max-width: calc(100% - 20px); }
}

.search__box { height: 0px;overflow: hidden;transition: all .35s ease-in-out;top: -110px; }
.search__box.active { top: 0px;height: 110px; }
.search__box .form-control { height: 110px;font-size: 1.5rem;transition: all .45s ease-in-out; }
.search__box .form-control::placeholder { color: #aaa; }
.search__box .form-control:focus { background-color: #fcf8f2; }
.search__box .btn-primary { font-size: 1.75rem;background-color: #f8f0e1;border-color: #f8f0e1;color: var(--brand) !important; }
.search__box .btn-primary:focus,.search__box .btn-primary:hover,.search__box .btn-primary:active { background-color: var(--brand);border-color: var(--brand);color: var(--white) !important; }
.searchBtn.active { transform: rotate(100deg); }